header {
  background-color: $primary-color;
  color: $secondary-color;
  padding: $padding-base;

  h1 {
    margin: 0;
    font-size: 1.8rem;
    text-align: center;
  }
}

footer {
  background-color: $dark-color;
  color: $secondary-color;
  text-align: center;
  padding: $padding-base;

  p {
    margin: 0;
  }
}

main {
  padding: 2rem 1rem;
  max-width: $container-width;
  margin: 0 auto;
}
