main {
  padding: 2rem 1rem;

  @include respond(phone) {
    padding: 1rem;
    text-align: center;
  }
}

.navbar-nav {
  @include respond(phone) {
    flex-direction: column;
    gap: 1rem;
  }
}

.card-custom {
  @include respond(phone) {
    padding: 0.5rem;
  }
}
