// Colores
$primary-color: #0044cc;  // Azul principal
$secondary-color: #ffffff; // Blanco
$dark-color: #1a1a1a;

// Tipografía
$font-stack: 'Arial', sans-serif;

// Espaciado y tamaños
$padding-base: 1rem;
$container-width: 1200px;
