// VARIABLES GENERALES

// Colores
$azul-principal: #0d6efd;    // Azul Bootstrap
$blanco: #ffffff;            // Blanco
$texto-principal: #212529;   // Gris oscuro
$fondo-principal: #f8f9fa;   // Gris claro

// Tipografías
$fuente-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fuente-secundaria: 'Roboto', sans-serif;

// Espaciado y bordes
$espaciado-base: 1rem;
$border-radius: 0.5rem;

// Sombras
$sombras: 0 4px 6px rgba(0, 0, 0, 0.1);
